<div class="page-header">
  <h1><%= @user.email %></h1>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>My followers (the count)</h3>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>My leaders (the count)</h3>
      </div>
    </div>
  </div>
</div>
